.Projet{
    padding: 15px;
    background-color: brown;
    margin: 15px auto;
    width:500px;
}

.but{
    color:blueviolet;
}

.CardAction{
    width: 100%;
    color: blanchedalmond;
}

.titre_projet{
    float: left;
    width: 100%;
    padding: 10px;
}

.txt_description{
    float:left;

}

.img_description{
    float:right;
}